html body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.chat-box {
    background-color: #eee;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-history {
    width: 100%;
    padding: 10px;
    overflow: scroll;
    flex: 1;
}

.chat-message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-message-content {
    padding: 6px 12px;
    border-radius: 10px;
}

.chat-message.left .chat-message-content {
    background-color: #7be353;
}

.chat-message.right .chat-message-content {
    background-color: #7ed6df;
    align-self: flex-end;
}

/* chat input styles */
.chat-top {
    width: 100%;
    height: 60px;
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
}

.chat-input {
    width: 100%;
    height: 60px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


