* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
    flex: 1;
    background: #4BA27E;
    display: flex;
    flex-direction: column;
}

.container .content {
    flex: 1;
    background: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    border: 5px solid #4BA27E;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.container .footer {
    height: 100px;
    background: antiquewhite;
    border-radius: 5px;
    border: 5px solid #4BA27E;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .footer input {
    flex: 1;
    height: 50px;
}

.container .footer button {
    width: 100px;
    height: 50px;
}

.msg_item {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    /*overflow: scroll;*/
    margin-top: 5px;
}

.msg_me, .msg_chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 5px;
}
.msg_me{
    background: darkkhaki;
}
.msg_chat{
    background: #cfdbdd;
}

.msg_me_icon, .msg_chat_icon {
    width: 30px;
    height: 30px;
}
.msg_me_icon img, .msg_chat_icon img{
    width: 28px;
    height: 28px;
    border: 1px solid grey;
}

.msg_me_msg, .msg_chat_msg {
    flex: 1;
    padding: 5px;
    font-size: 16px;
}
.msg_me_msg{
    font-weight: bold;
}


.scroll-ad {
  width: 95%;
}

.scroll-ad marquee {
  font-size: 16px;
  font-weight: bold;
}